.Header__background-color {
  display: none;
}

.glue-page-header__background-overlay {
  display: none;
}

.glue-page-header__background-color {
  background-image: none;
}

.GlueHeader__background-overlay {
  display: none;
}

.GlueHeader__background-color {
  background-color: var(--modspotify_main_bg) !important;
  background-image: none;
}
