.Header__background-color {
  display: none;
}

.glue-page-header__background-overlay {
  display: none;
}

.glue-page-header__background-color {
  background-image: none;
}

.GlueHeader__background-overlay {
  display: none;
}

.GlueHeader__background-color {
  background-color: var(--modspotify_main_bg) !important;
  background-image: none;
}

.header-verified-check {
  background-color: var(--modspotify_blue) !important;
}

.tl-explicit .label {
  display: none;
}

.tl-explicit {
  width: 0 !important;
}

.tl-more {
  display: none;
}

.tl-play {
  display: none;
}

.tl-save {
  display: none;
}

#new-playlist-button-mount-point {
  display: none;
}

#video-fullscreen-button {
  display: none;
}

.SearchInput, .SearchInput__label, .SearchInput__input {
  color: var(--modspotify_main_fg) !important;
  background-color: var(--modspotify_main_bg) !important;
  width: 100% !important;
}

.content-top-bar__search-input {
  max-width: 100% !important;
  width: 100% !important;
}

#header {
  background-color: var(--modspotify_main_bg);
}

.content-top-bar__profile {
  flex: none !important;
}

.content-top-bar__profile-area {
  margin-left: 0 !important;
  min-width: 0 !important;
}

.content-top-bar__profile-link {
  display: none !important;
}

.LeftSidebar__section {
  display: none;
}

.LeftSidebar__section.LeftSidebar__section--rootlist {
  display: block !important;
  margin-top: 24px;
}

.tl-date-added, .tl-time {
  font-family: Hack !important;
}
