# Disable the discrete nvidia GPU to save power.

[Unit]
Description=Enable confidentiality mode
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "echo \"confidentiality\" > /sys/kernel/security/lockdown"
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
